<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Barcode Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_scan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_banner.css') }}">
</head>
<body>
    <div class="container">
        <h1>바코드 스캐너</h1>
        <form action="/scan" method="POST" id="barcodeForm">
            <label for="barcode">바코드를 스캔하세요!</label>
            <input type="text" id="barcode" name="barcode" autofocus>
        </form>
        <a href="/" class="button-link">홈으로 가기</a>
    </div>
    <script>
        document.getElementById('barcode').addEventListener('keydown', function(event) {
            if (event.keyCode === 13) { // Check if Enter key is pressed
                event.preventDefault(); // Prevent default form submission
                document.getElementById('barcodeForm').submit(); // Submit the form
            }
        });
    </script>

    <script src="{{ url_for('static', filename='inactivity.js') }}"></script>
</body>
</html>